@font-face {
  font-family: "Rubik-medium";
  src: url("../assets/fonts/rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Bold.otf");
}

@font-face {
  font-family: "Gilroy-extra-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Extrabold.otf");
}

@font-face {
  font-family: "Gilroy-light";
  src: url("../assets/fonts/Gilroy/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy-regular";
  src: url("../assets/fonts/Gilroy/Gilroy-Regular.otf");
}

@font-face {
  font-family: "Gilroy-semi-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Semibold.otf");
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("../assets/fonts/Gilroy/Gilroy-Medium.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Gilroy-light', Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

div {
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

ul {
  list-style: none;
}

input, button {
  outline: none !important;
}

@media (max-width: 1024px) {
  #aside-nav {
    width: 75% !important;
  }
}

@media (max-width: 767px) {
  #aside-nav {
    width: 65% !important;
  }
  #aside-nav .aside-nav-container {
    padding: 140px 20px 0 !important;
  }
}

@media (max-width: 468px) {
  #aside-nav {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .main-right {
    display: none !important;
  }
  .main-left {
    width: 100% !important;
    padding: 0 !important;
  }
  #header > div {
    padding: 20px 20px 0 !important;
  }
  #header > div .phone {
    padding: 20px 80px 0 0px !important;
    margin-right: 0 !important;
  }
  #header > div .phone a {
    color: #159ee3;
  }
  #header > div .toggler {
    right: 20px !important;
  }
  #header > div .phone span {
    color: #159ee3;
  }
  #header > div .phone a::before {
    background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
  }
}

@media (min-width: 1024px) {
  .phone span {
    color: #159ee3;
  }
  .phone a {
    color: #159ee3;
  }
  .phone a::before {
    background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  .footer-container {
    display: block;
    text-align: center;
  }
  .footer-left {
    padding: 0 0 10px !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media (max-width: 767px) {
  .logo a {
    width: 80px !important;
    height: 92px !important;
  }
  .content-container h2 {
    font-size: 28px !important;
  }
  .vacancy-list .list li {
    width: 100% !important;
    height: auto !important;
    margin: 0 0 30px !important;
  }
  .internal-nav a {
    width: 100% !important;
    height: 48px !important;
    line-height: 48px !important;
  }
  .aside-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content {
    margin-bottom: 100px;
  }
}

@media (max-width: 468px) {
  .main-nav {
    display: none;
    width: 100%;
    padding: 0 10px;
    left: 0;
    top: 120px;
  }
}

@media (max-width: 479px) and (min-width: 240px) {
  .text-container .image {
    padding: 0 0 20px !important;
    text-align: center !important;
  }
  .text-container .image img {
    max-width: 100% !important;
    width: auto !important;
  }
  .footer-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-left {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer-right span {
    color: rgba(0, 0, 0, 0.3) !important;
  }
  .internal-nav a {
    width: 100% !important;
    height: 48px !important;
    border-left: 1px solid #dcdcdc !important;
    line-height: 48px !important;
    border-top: none !important;
  }
}

@media (max-width: 1280px) {
  .main-nav {
    display: none;
  }
  .list ul li {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 479px) and (min-width: 240px) {
  .wrapper {
    padding: 0px 0px 1px !important;
  }
  .content-container {
    padding: 0 15px !important;
  }
  .payment-form {
    padding: 0 !important;
  }
}

@-webkit-keyframes sliderScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes sliderScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes ringAnime {
  0% {
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
  }
}

@keyframes ringAnime {
  0% {
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
  }
}

@-webkit-keyframes rightCircleEffect {
  0% {
    right: -330px;
  }
  100% {
    right: 0px;
  }
}

@keyframes rightCircleEffect {
  0% {
    right: -330px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes mainLiAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes mainLiAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#footer {
  width: 100%;
  bottom: 0 !important;
  position: absolute !important;
  height: 55px;
}

.footer-container {
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-left .netty img {
  width: 95px;
  height: 50px;
  border: 0;
}

.footer-left div {
  margin: 0 10px;
  font-size: 14px;
}

.footer-left div a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.footer-left .jis a span {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin: 0 0 0 10px;
  vertical-align: middle;
  background: url("../assets/images/jis.svg") no-repeat 50%;
  background-size: contain;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-right span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.footer-right a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  text-align: center;
  position: relative;
  line-height: 24px;
}

.copyright p {
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
}

.header-show {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 5;
}

#header .header-container {
  height: 146px;
  position: relative;
  z-index: 3;
  margin: 0px auto;
  padding: 30px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-container .logo {
  -webkit-transition: all 0.15s linear 0.2s;
  transition: all 0.15s linear 0.2s;
  height: 95px;
  position: relative;
  z-index: 3;
}

#header .header-container .logo a {
  display: block;
  width: 100px;
  height: 116px;
  background: url("../assets/images/logo.svg") no-repeat 0 0;
  background-size: 100% 100%;
}

#header .header-container .phone {
  text-align: right;
  padding: 3px 90px 0px 80px;
}

#header .header-container .phone span {
  display: block;
  font-size: 11px;
  font-weight: 500;
  padding: 0px 0px 5px;
}

#header .header-container .phone a {
  font-family: "Rubik-medium";
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  margin-top: -7px;
}

#header .header-container .phone a::before {
  content: "";
  background-size: contain !important;
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain !important;
  position: absolute;
  top: 8px;
  left: -25px;
}

.toggler {
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 2;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #159ee3;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.toggler span {
  display: block;
  width: 20px;
  height: 14px;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 10px);
}

.toggler span .line {
  background: white;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.toggler span .line:first-child {
  left: 0px;
  top: 0px;
}

.toggler span .line:nth-child(2) {
  top: 6px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.toggler .line:last-child {
  top: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.toggler-active {
  background: white !important;
}

.toggle-rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggler-line-active {
  background: #159ee3 !important;
}

.active .line:first-child {
  width: 2px !important;
  left: 9px !important;
}

.active .line:last-child {
  width: 0;
}

.active-second .line:first-child {
  height: 20px !important;
  top: -3px !important;
}

.active-last {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

@font-face {
  font-family: "Rubik-medium";
  src: url("../assets/fonts/rubik/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Bold.otf");
}

@font-face {
  font-family: "Gilroy-extra-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Extrabold.otf");
}

@font-face {
  font-family: "Gilroy-light";
  src: url("../assets/fonts/Gilroy/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy-regular";
  src: url("../assets/fonts/Gilroy/Gilroy-Regular.otf");
}

@font-face {
  font-family: "Gilroy-semi-bold";
  src: url("../assets/fonts/Gilroy/Gilroy-Semibold.otf");
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("../assets/fonts/Gilroy/Gilroy-Medium.otf");
}

#aside-nav {
  width: 51%;
  right: 0;
  height: 100%;
  background: #159ee3;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 4;
  -webkit-box-shadow: 0px 0 0px 0 rgba(0, 0, 0, 0);
          box-shadow: 0px 0 0px 0 rgba(0, 0, 0, 0);
  -webkit-clip-path: ellipse(100% 50% at 200% 50%);
          clip-path: ellipse(100% 50% at 200% 50%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#aside-nav .nav-item {
  display: inline-block;
  width: 49%;
  padding: 0 0 32px;
}

#aside-nav .nav-item ul {
  padding: 0;
}

#aside-nav .nav-item ul li {
  padding: 0 0 14px;
}

#aside-nav .nav-item ul li a {
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  position: relative;
}

#aside-nav .nav-item ul li a::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#aside-nav .nav-item ul li a:hover::before {
  width: 100%;
}

#aside-nav .nav-item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: 'Gilroy-bold';
}

#aside-nav .nav-item h3 a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

#aside-nav .nav-item h3 a:hover::before {
  width: 100%;
}

#aside-nav .nav-item h3 a::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#aside-nav .aside-nav-container {
  padding: 130px 0px 0 60px;
}

#aside-nav .aside-nav-container .aside-nav-items {
  height: 77vh;
  overflow-y: auto;
}

#aside-nav .aside-nav-container .aside-nav-items::-webkit-scrollbar {
  width: 5px;
  background: #0fc8f0;
}

#aside-nav .aside-nav-container .aside-nav-items::-webkit-scrollbar-thumb {
  background: #fff;
}

.show-aside {
  right: 0 !important;
  -webkit-clip-path: ellipse(110% 200% at 100% 50%) !important;
          clip-path: ellipse(110% 200% at 100% 50%) !important;
  -webkit-box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.15) !important;
          box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.15) !important;
}

.chats-container {
  position: fixed;
  right: 25px;
  bottom: 60px;
}

.chats-container:hover ul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
}

.chats-container:hover ul li {
  padding: 0 0 15px;
}

.chats-container .call {
  display: block;
  width: 60px;
  height: 60px;
  background: #159ee3 url("../assets/images/ic.png") no-repeat 50%;
  background-size: 50%;
  position: relative;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.chats-container .call:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.chats-container .call::after {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.chats-container .call::before {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  content: "";
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.chats-container ul {
  width: 60px;
  position: absolute;
  left: 0;
  padding: 0;
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.chats-container ul li {
  padding: 0 0 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.chats-container ul li a {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.chats-container ul li a::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.chats-container ul li a::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.chats-container ul li .facebook {
  background: #3b5998 url("../assets/images/facebook_icon.png") no-repeat 50%;
  background-size: 55%;
}

.chats-container ul li .whatsapp {
  background: #29b200 url("../assets/images/whatsapp_white_icon.png") no-repeat 50%;
  background-size: 55%;
}

.chats-container ul li .chat {
  background: #ee8208 url("../assets/images/chat_icon.svg") no-repeat 50%;
  background-size: 55%;
}

.main-nav {
  width: 70px;
  position: fixed;
  left: 40px;
  top: 248px;
  z-index: 1;
}

.main-nav ul {
  padding: 0;
}

.main-nav ul li {
  padding: 0 0 20px;
}

.main-nav ul li:hover img {
  -webkit-transform: scale(1.1) translate(-45%, -45%);
          transform: scale(1.1) translate(-45%, -45%);
}

.main-nav ul li a {
  display: block;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(225deg, #dcdcdc, #dcdcdc);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-nav ul li a:hover::before {
  opacity: 1;
}

.main-nav ul li a img {
  display: block;
  max-height: 38px;
  max-width: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-nav ul li a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0fc8f0, #149de2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-nav ul li a::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background: #c2c2c2;
  opacity: 0.3;
  border-radius: 0 0 0 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.left-nav-active {
  background-image: linear-gradient(225deg, #0fc8f0, #149de2) !important;
}

.left-nav-active img {
  -webkit-transform: scale(1.1) translate(-45%, -45%) !important;
          transform: scale(1.1) translate(-45%, -45%) !important;
}

.margin-top {
  margin-top: 146px !important;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding: 0px 0px 100px;
}

.main-circles {
  width: 330px;
  height: 120%;
  background: #f8fcfe;
  position: fixed;
  top: -10%;
  right: 0;
  z-index: -1;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  -webkit-animation-name: rightCircleEffect;
          animation-name: rightCircleEffect;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.main-circles > div {
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  right: -110px;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.main-circles div div {
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: 0%;
  right: -220px;
  -webkit-clip-path: ellipse(100% 50% at 100% 50%);
          clip-path: ellipse(100% 50% at 100% 50%);
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.text-container .text {
  font-size: 16px;
  line-height: 1.75;
  color: #404040;
}

.text-container .text p {
  font-family: 'Gilroy-light';
  padding: 0 0 25px;
}

.content-container {
  max-width: 980px;
  margin: 0px auto;
  padding: 0px 40px;
}

.content-container h2 {
  text-align: center;
  font-size: 36px;
  color: #159ee3;
  padding: 0px 0px 60px;
  font-family: 'Gilroy-bold';
}

.internal-nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 0px 50px;
}

.internal-nav .active {
  color: white;
  border-color: #159ee3;
  background: #159ee3 !important;
}

.internal-nav a {
  width: 25%;
  height: 58px;
  font-size: 18px;
  line-height: 56px;
  white-space: nowrap;
  color: #7c7c7c;
  border: 1px solid gainsboro;
  text-decoration: none;
  background: white;
}

.internal-nav a:hover {
  background: #D6F1FF;
}

.vacancy-list {
  padding: 50px 0 0;
}

.vacancy-list h3 {
  padding: 0 0 50px;
  font-size: 26px;
  color: #159ee3;
  text-align: center;
  font-family: "Gilroy-bold";
}

.vacancy-list .list {
  overflow: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vacancy-list .list li {
  margin-bottom: 40px !important;
}

.vacancy-list .list li a {
  display: block;
  text-decoration: none;
  color: #0077b3;
  height: 100%;
}

.vacancy-list .list li a .vacancy-image {
  overflow: hidden;
}

.vacancy-list .list li a img {
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.vacancy-list .list li a strong {
  display: inline-block;
  padding: 14px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Gilroy-regular';
}

.vacancy-list .list li {
  width: 27%;
  height: 326px;
  margin: 0 0 0 25px;
}

.vacancy-list .list li:hover a img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.span-aside {
  color: #fff !important;
}

.phone-a {
  color: #fff !important;
}

.phone-icon::before {
  background: url("../assets/images/phone_icon.svg") no-repeat 0 0 !important;
}

.phone a:hover:before {
  -webkit-animation-name: ringAnime;
          animation-name: ringAnime;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
