@font-face {
    font-family: "Rubik-medium";
    src: url("../assets/fonts/rubik/Rubik-Medium.ttf");
  }
@font-face {
    font-family: "Gilroy-bold";
    src: url("../assets/fonts/Gilroy/Gilroy-Bold.otf");
  }
@font-face {
    font-family: "Gilroy-extra-bold";
    src: url("../assets/fonts/Gilroy/Gilroy-Extrabold.otf");
  }
@font-face {
    font-family: "Gilroy-light";
    src: url("../assets/fonts/Gilroy/Gilroy-Light.otf");
  }
@font-face {
    font-family: "Gilroy-regular";
    src: url("../assets/fonts/Gilroy/Gilroy-Regular.otf");
  }
@font-face {
    font-family: "Gilroy-semi-bold";
    src: url("../assets/fonts/Gilroy/Gilroy-Semibold.otf");
  }
@font-face {
    font-family: "Gilroy-medium";
    src: url("../assets/fonts/Gilroy/Gilroy-Medium.otf");
  }
