@import 'media-aside-nav';
@media (max-width: 1024px) {
    
  
  .main-right {
    display: none !important;
  }
 
  .main-left {
    width: 100% !important;
    padding: 0 !important;
  }
  #header > div {
    padding: 20px 20px 0 !important;
    .phone {
      padding: 20px 80px 0 0px !important;
      margin-right: 0 !important;
      a {
        color: #159ee3;
      }
    }
    .toggler {
      right: 20px !important;
      
    }
    .phone {
      span {
        color: #159ee3;
      }
      a::before {
       background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
      }
    }
  }
}
@media (min-width: 1024px) {

    
  .phone {
    span {
      color: #159ee3;
    }
    a {
      color: #159ee3;
      &::before {
        background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
      }
    }
  }
  
}
@media (max-width: 767px) and (min-width: 480px) {


  .footer-container {
    display: block;
    text-align: center;

  }
  .footer-left {
    padding: 0 0 10px !important;
    justify-content: space-between !important;
  }
 
}
@media (max-width: 767px) {
  .logo{
    a{
     width: 80px !important;
     height: 92px !important;
    }
   
  }
  .vacancy-list .list ul li {
    width: 100% !important;
    height: auto !important;
    margin: 0 0 30px !important;
}
  
  .internal-nav a {
    width: 100% !important;
    height: 48px !important;
    line-height: 48px !important;
  }
  .aside-nav-items {
    display: flex;
    flex-direction: column;
  }
  .main-content{
      margin-bottom: 100px;
  }
}
@media (max-width: 468px) {
  
  .main-nav {
    display: none;
    width: 100%;
    padding: 0 10px;
    left: 0;
    top: 120px;
}
}
@media (max-width: 479px) and (min-width: 240px) {

  .text-container .image {
    padding: 0 0 20px !important;
    text-align: center !important;
}
.text-container .image img {
  max-width: 100% !important;
  width: auto !important;
}
  
  .footer-container {
    flex-direction: column !important;
  }
  .footer-left {
    flex-direction: column !important;
  }
  .footer-right {
    span {
      color: rgba(0, 0, 0, 0.3) !important;
    }
  }
  .internal-nav a {
    width: 100% !important;
    height: 48px !important;
    border-left: 1px solid #dcdcdc !important;
    line-height: 48px !important;
    border-top: none !important;
}
}

@media (max-width: 1280px) {
    .main-nav {
        display: none;
    }
    
  .list ul li {
    margin-bottom: 30px !important;
}



}

@media (max-width: 479px) and (min-width: 240px)
{
    .wrapper{
        padding: 0px 0px 1px !important;
    }
    .content-container {
        padding: 0 15px !important;
    }
        .payment-form{
        padding: 0 !important;
    }
}
@media (max-width: 479px) {
   .main-content div h2{
        padding: 8px 70px 30px !important;
        font-size: 24px !important;
    }
    header h3 {
        width: 100% !important;
        padding: 0 0 15px !important;
    }
    header{
        flex-wrap: wrap;
    }
    .link{
        width: 100%;
        a{
            width: 100%;
            text-align: center;
        }
    }
}
