@import 'media-aside-nav';

@media (max-width: 1024px) {
 
  .main-left-container {
    width: 464px !important;
    height: 464px !important;
    li{
      width: 200px !important;
    height: 200px !important;
    margin: 16px !important;
    
    }
}
  #footer {
   
    bottom: 0 !important;
  }
  .main-right {
    display: none !important;
  }
  .main-circles {
    display: none !important;
  }
  .main-left {
    width: 100% !important;
    padding: 0 !important;
  }
  #header > div {
    padding: 20px 20px 0 !important;
    .phone {
      padding: 20px 80px 0 0px !important;
      margin-right: 0 !important;
      a {
        color: #159ee3;
      }
    }
    .toggler {
      right: 20px !important;
      background: #159ee3;
      span {
        .line {
          background: #fff;
        }
      }
    }
    .phone {
      span {
        color: #159ee3;
      }
      a::before {
        background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0 ;
      }
    }
  }
}
@media (min-width: 1024px) {
  .phone {
    span {
      color: #fff;
    }
    a {
      color: #fff;
      &::before{
        background: url("../assets/images/phone_icon.svg") no-repeat 0 0 ;
      }
    }
  }
  .toggler {
    background: #fff;
    span {
      .line {
        background: #159ee3;
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 480px) {
 
  .footer-container {
    display: block;
    text-align: center;

  }
 
  .footer-left {
    padding: 0 0 10px !important;
    justify-content: space-between !important;
  }
  
}
@media (max-width: 767px) {
  
 .logo{
   a{
    width: 80px !important;
    height: 92px !important;
   }
  
 }
  .aside-nav-items{
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  .aside-nav-items{
    flex-direction: column !important;

  }
  .aside-nav-items{
  
    .nav-item{
      width: 100% !important;
    }
  }
}

@media (max-width: 479px) and (min-width: 240px) {
  .main-left-container li a::after{
    width: 50px !important;
    height: 50px !important;
  }
  .footer-container {
    flex-direction: column !important;
  }
  .footer-left {
    flex-direction: column !important;
  }
  .footer-right {
    span {
      color: rgba(0, 0, 0, 0.3) !important;
    }
  }
  #footer {
    flex-direction: column !important;
    height: 120px !important;
  }
  .main-left-container li a span {
    height: 115px !important;
    margin-bottom: -4px !important;
  }
  .main-left-container li {
    width: 140px !important;
    height: 140px !important;
    margin: 6px !important;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05),
      0 10px 27px 0 rgba(0, 0, 0, 0.15);
  }
  .main-left-container{
    width: 304px !important;
    height: 304px !important;
  }
  .main-left-container li a strong {
    font-size: 18px !important;
    font-weight: 500 !important;
    position: relative;
    bottom: 22px;

  }
}
@media (max-width: 624px) and (min-width: 480px) {
    #footer{
      bottom: 25px !important;
    }
}