@import 'media-aside-nav';


@media (max-width: 1024px) {
  
  
  .main-right {
    display: none !important;
  }
  
  .main-left {
    width: 100% !important;
    padding: 0 !important;
  }
  #header > div {
    padding: 20px 20px 0 !important;
    .phone {
      padding: 20px 80px 0 0px !important;
      margin-right: 0 !important;
      a {
        color: #159ee3;
      }
    }
    .toggler {
      right: 20px !important;
      
    }
    .phone {
      span {
        color: #159ee3;
      }
      a::before {
       background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
      }
    }
  }
  @media (max-width: 1023px) and (min-width: 768px){
    .symptom-map{
      padding: 0 22px !important;
    }
  }
  @media (max-width: 992px) {
        
        .symptom-map {
          flex-direction: column;
          align-items: center;
        }
  }
}
@media (min-width: 1024px) {

    
  .phone {
    span {
      color: #159ee3;
    }
    a {
      color: #159ee3;
      &::before {
        background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0;
      }
    }
  }

  
}
@media (max-width: 767px) and (min-width: 480px) {
  .content-container{
    padding: 0 15px 0 15px !important;
    margin: 0 !important;
  }
    .paddingSide25{
      padding: 0 !important;
    }
  
  .footer-container {
    display: block;
    text-align: center;
 
  }
  .footer-left {
    padding: 0 0 10px !important;
    justify-content: space-between !important;
  }
 
}
@media (max-width: 767px) {
   .logo{
   a{
    width: 80px !important;
    height: 92px !important;
   }
  
 }
  .search-input input{
    width: 100% !important;
  }
 
  .search-image-header
  {
    .text{
      display: none !important;
    }
  }
  .search-input {
  
    display: block !important;
}
.symptom-tags{
  display: block !important;
}
.symptoms-sugg-container{
  flex-direction: column !important;
  .article{
      width: 100% !important;
 
    margin: 40px 0 0 !important;
  }
}
  .symptom-map {
  display: none !important;
  }
  .search {
  display: none !important;
  }
  
  
  .aside-nav-items {
    display: flex;
    flex-direction: column;
  }
  .main-content{
      margin-bottom: 100px;
  }
}
@media (max-width: 468px) {
  .content-container{
    padding: 0 15px !important;
  }
  .article-container

  {
    width: 100% !important;

    .article{
      width: 100% !important;
      margin: 0 0 42px !important;
    }
  }
  .main-nav {
    display: none;
    width: 100%;
    padding: 0 10px;
    left: 0;
    top: 120px;
}
}
@media (max-width: 479px) and (min-width: 240px) {
 


 
  .footer-container {
    flex-direction: column !important;
  }
  .footer-left {
    flex-direction: column !important;
  }
  .footer-right {
    span {
      color: rgba(0, 0, 0, 0.3) !important;
    }
  }
 
}

@media (max-width: 1280px) {
    .main-nav {
        display: none;
    }
}

@media (max-width: 479px) and (min-width: 240px)
{
    
    .content-container {
        padding: 0 15px !important;
    }
      
}

@media (max-width:1280px) and (min-width:1024px){
  .wrapper{
    position: absolute !important;
    width: 100% !important;

  }
  
}
@media (max-width:1023px) and (min-width:768px){
  .wrapper{
    position: absolute !important;
    width: 100% !important;

  }
 
}