@import 'media-aside-nav';
@media (max-width: 1024px) {
 

  .main-nav {
    display: none;

}
    #footer {
  
      bottom: 0 !important;
    }
    .main-right {
      display: none !important;
    }
   
    .main-left {
      width: 100% !important;
      padding: 0 !important;
    }
    #header > div {
      padding: 20px 20px 0 !important;
      .phone {
        padding: 20px 80px 0 0px !important;
        margin-right: 0 !important;
        a {
          color: #159ee3;
        }
      }
      .toggler {
        right: 20px !important;
      
      }
      .phone {
        span {
          color: #159ee3;
        }
        a::before {
          background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0 ;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .branches-container .branch{
      &:nth-child(3n) {
        margin: 0 0 100px;
      }
    }
    
    .phone {
      span {
        color: #159ee3;
      }
      a {
        color: #159ee3;
        &::before{
          background: url("../assets/images/phone_icon_active.svg") no-repeat 0 0 ;
        }
      }
    }
   
  }
  @media (max-width: 767px) and (min-width: 480px) {
    .footer-container {
      display: block;
      text-align: center;
    
    }
    #footer {
   
      height: 60px !important;
    }
    .footer-left {
      padding: 0 0 10px !important;
      justify-content: space-between !important;
    }
  
  }
  
  @media (max-width: 767px) {
    .logo{
      a{
       width: 80px !important;
       height: 92px !important;
      }
     
    }
   
    .branches-container .branch {
      margin-right: 0 !important;
      width:100% !important;
    }
    .content-container h2{
      font-size: 30px !important;
    }
   
  
    .aside-nav-items{
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 468px) {
    .main-content div{
      padding: 0 !important;
    }
    
   .branches-container .branch  {
      width: 100% !important;
    margin: 0 0 80px !important;
    }
  
  }
  @media (max-width: 479px) and (min-width: 240px) {
    .footer-container {
      flex-direction: column !important;
    }
    .footer-left {
      flex-direction: column !important;
    }
    .footer-right {
      span {
        color: rgba(0, 0, 0, 0.3) !important;
      }
    }
    #footer {
      flex-direction: column !important;
      height: 90px !important;
    }
   
  }
  @media (max-width: 1280px) and (min-width: 1024px){
    .main-nav {
        display: none ;
    }
  }
  @media (min-width: 1280px){
    .main-nav {
        display: block ;
    }
  }

  @media (max-width: 767px) and (min-width: 480px){
    .main-nav {
        display: none;
    }
    
    
  }

  @media (max-width: 480px){
    .main-nav {
        display: none;
       
    }
    .branches-container .branch{
        width: 93% !important;
    }
  }
  @media (max-width: 1023px) and (min-width: 768px){
    .branches-container .branch:nth-child(2n) {
      margin-right: 0 !important;
    }
 
    .branches-container .branch{
        width:  48% !important;
    }
  
  }


  @media (max-width:1280px) and (min-width:1024px){
    .wrapper{
      position: absolute !important;
      width: 100% !important;
    }
  }
  @media (max-width:1023px) and (min-width:768px){
    .wrapper{
      position: absolute !important;
      width: 100% !important;
    }
  }