@import 'fonts';
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:  'Gilroy-light', Arial, sans-serif;
  }

h1 {
    font-size: 2.5rem;
}
a{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}
div{
  margin: 0;

    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}
ul{
  list-style: none;
}
input,button{
  outline: none !important;
}