@import "reset";
@import "media-about-us-management";
@import 'animation';
@import "footer";
@import "common";

.wrapper {
  min-height: 100%;
  position: relative;
  padding: 0px 0px 100px;
}




.main-circles {
  width: 330px;
  height: 120%;
  background: #f8fcfe;
  position: fixed;
  top: -10%;
  right: 0px;
  z-index: -1;
  clip-path: ellipse(100% 50% at 100% 50%);

  animation-name: rightCircleEffect;
animation-timing-function: linear;
animation-iteration-count: 1;
  animation-duration: 1s;
animation-direction: alternate;   

  transition: all 0.9s linear;
}

.main-circles  div {
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  right: -110px;

  clip-path: ellipse(100% 50% at 100% 50%);



  transition: all 0.9s linear;
}
.main-circles div  div {
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: 0%;
  right: -220px;

  clip-path: ellipse(100% 50% at 100% 50%);



  transition: all 0.9s linear;
}





.content-container {
  max-width: 980px;
  position: relative;
  margin: 0px auto;
  padding: 0px 40px;
  h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(21, 158, 227);
    font-weight: bold;
    position: relative;
    z-index: 2;
    padding: 0px 0px 60px;
    font-family: "Gilroy-bold";
  }
}
.internal-nav {
  text-align: center;

 display: flex;
 flex-wrap: wrap;
  padding: 0px 0px 50px;
}
.internal-nav .active {
  color: rgb(255, 255, 255);
  border-color: rgb(21, 158, 227);
  background: rgb(21, 158, 227) !important;
}



.internal-nav a {
  white-space: nowrap;
    width: 25%;
    height: 58px;
    font-size: 18px;
    line-height: 56px;

    color: rgb(124, 124, 124);

   border: 1px solid rgb(220, 220, 220) ;
   

    text-decoration: none;
    background: rgb(255, 255, 255);
    &:hover{
      background: #D6F1FF;
    }
}

.text-container .image {
  float: left;
  padding: 0px 20px 20px 0px;
}
.text-container .image img {
  max-width: 240px;
}

.text-container .text {
  font-size: 16px;
  line-height: 1.75;
  color: rgb(64, 64, 64);
  p{
    strong{
      font-family: "Gilroy-bold";
    }
  }
}
.text-container .text p {
  padding: 0px 0px 25px;
}
.text-container .image img {
    max-width: 240px;
}

.text-container .image img {

    width: 100%;
    border-radius: 8px;
}



.span-aside {
  color: #fff !important;
}


.phone-a {
  color: #fff !important;
}
.phone-icon {
  &::before {
    background: url("../assets/images/phone_icon.svg") no-repeat 0 0 !important;
  }
}

.phone {
  a {
    &:hover {
      &:before {
        animation-name: ringAnime;
        animation-duration: 0.1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
}
