@import "reset";
@import "fonts";
@import "media-loyalty-medical-card";
@import 'animation';
#header {
  height: 146px;
  position: relative;
  z-index: 5;
}
.wrapper {
  min-height: 100%;
  position: relative;
  padding: 0px 0px 100px;
}
#header {
  div {
    height: 146px;
    position: relative;
    z-index: 3;
    margin: 0px auto;
    padding: 30px 40px 0px;
    .toggler {
      transition: all 0.3s linear;
      animation-duration: 0.3s;
      transform: rotate(0deg);
      border-radius: 50%;
      position: absolute;
      top: 30px;
      right: 62px;
      z-index: 3;
      display: block;
      width: 56px;
      height: 56px;
      span {
        display: block;
        width: 20px;
        height: 14px;
        position: absolute;
        top: calc(50% - 7px);
        left: calc(50% - 10px);
        em {
          transition: all 0.3s linear;
          animation-duration: 0.3s;
          display: block;
          width: 100%;
          height: 2px;
          position: absolute;

          &:first-child {
            left: 0;
            top: 0;
          }
          &:nth-child(2) {
            top: 6px;
            transform: rotate(0deg);
          }
          &:last-child {
            top: 12px;
          }
        }
      }
    }
    .logo {
      float: left;
      animation-duration: 0.15s;
      transition: all 0.15s linear 0.2s;
      height: 95px;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      a {
        width: 80px;
        height: 92px;
        background: url("../assets/images/logo.svg") no-repeat 0 0;
        background-size: 100% 100%;
        display: inline-block;
      }
    }
    .phone {
      float: right;
      text-align: right;
      padding: 7px 90px 0px 80px;
      margin-top: -11px;
      margin-right: 6px;
      height: 100%;
      span {
        display: block;
        font-size: 11px;
        font-weight: 500;
        padding: 0px 0px 5px;
      }
      a {
        font-family: "Rubik-medium";
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        margin-top: -7px;

        &::before {
          content: "";

          background-size: contain !important;

          display: block;
          width: 20px;
          height: 20px;
          background-size: contain !important;
          position: absolute;
          top: 8px;
          left: -25px;
        }
      }
    }
   
  }
}

.main-bg {
  width: 330px;
  height: 120%;
  background: #f8fcfe;
  position: fixed;
  top: -10%;
  right: 0;
  z-index: -1;
  clip-path: ellipse(100% 50% at 100% 50%);

  animation-name: rightCircleEffect;
animation-timing-function: linear;
animation-iteration-count: 1;
  animation-duration: 1s;
animation-direction: alternate;   

  transition: all 0.9s linear;
}

.main-bg > div {
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  right: -110px;

  clip-path: ellipse(100% 50% at 100% 50%);

  animation-duration: 0.9s;

  transition: all 0.9s linear;
}
.main-bg > div > div {
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: -0%;
  right: -220px;

  clip-path: ellipse(100% 50% at 100% 50%);

  animation-duration: 0.9s;

  transition: all 0.9s linear;
}

#aside-nav {
  width: calc(51% - 10px);
  right: 0;
  height: 100%;
  font-size: 0;
  background: #159ee3;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 4;
  box-shadow: 0px 0 0px 0 rgba(0, 0, 0, 0);
  clip-path: ellipse(100% 50% at 200% 50%);
  transition: all 0.5s linear;
  section {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 0 0 32px;
    margin: 0 5px;
    vertical-align: top;
    ul {
      padding: 0;
      li {
        padding: 0 0 14px;
        a {
          
          font-size: 17px;
          font-weight: normal;
          color: #fff;
          text-decoration: none;
          position: relative;
        }
      }
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      a {
        color: #fff;
        text-decoration: none;
        position: relative;
        &:hover{
          &::before {
            width: 100%;
          }
        }
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background: #fff;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.2s linear;
        }
      }
    }
  }

  .aside-nav-container {
    padding: 130px 0px 0 60px;

    .up-sections {
      height: calc(100vh - 150px);
      overflow-y: auto;
      position: relative;
      &::-webkit-scrollbar {
        width: 5px;
      background: #0FC8F0;
   
      };
      &::-webkit-scrollbar-thumb {
        background: #fff; 
      }
    }
  }
}
.show-aside {
  right: 0 !important;
  clip-path: ellipse(110% 200% at 100% 50%) !important;
  box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.15) !important;
}

nav.main-nav {
  width: 70px;
  position: absolute;
  left: 40px;
  top: 248px;
  z-index: 1;
  ul {
    padding: 0;
  }
}
nav.main-nav ul li {
  padding: 0 0 20px;
 
}
nav.main-nav ul li a {
  display: block;
  width: 70px;
  height: 70px;
  &:hover{
    &::before{
      opacity: 1;
    }
  }
  background-image: linear-gradient(225deg, #dcdcdc, #dcdcdc);
  position: relative;
  overflow: hidden;

  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);

  border-radius: 10px;

  animation-duration: 0.2s;

  transition: all 0.2s linear;
  img {
    display: block;
    max-height: 38px;
    max-width: 38px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: all 0.2s linear;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(225deg, #0fc8f0, #149de2);
    background-image: -o-linear-gradient(225deg, #0fc8f0, #149de2);
    background-image: linear-gradient(225deg, #0fc8f0, #149de2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: all 0.2s linear;
  }
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background: #c2c2c2;
    opacity: 0.3;

    border-radius: 0 0 0 100%;

    animation-duration: 0.2s;

    transition: all 0.2s linear;
  }
}
.left-nav-active {
  background-image: linear-gradient(225deg, #0fc8f0, #149de2) !important;
}
.main-content > div {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
.main-content > div > h2 {
    padding: 0 0 60px;
    text-align: center;
    font-size: 36px;
    color: #159ee3;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.go-back {
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

.go-back a {
    display: inline-block;
    padding: 0 0 0 25px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #0077b3;
    position: relative;
   
    transition: all 0.2s linear;
    &:hover{
      &::before{
        left: -5px;
      }
    }
}
.go-back a::before {
    content: "";
    display: block;
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../assets/images/arrow_back_blue.svg') no-repeat 0 50%;
  
    transition: all 0.2s linear;
}
.current-card {
    padding: 0 0 60px;
}
.current-card .card {
    width: 278px;
    float: left;
    border-radius: 6%;
}
.current-card .card > div {
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  
    border-radius: 6px;
}
.current-card .card > div img {
    display: block;
    width: 100%;
}
.current-card .info {
    width: calc(100% - 308px);
    float: right;
}
.current-card .info header {
    padding: 0 0 20px;
    margin: 0 0 25px;
    border-bottom: 1px solid #dcdcdc;
}
.current-card .info header h3 {
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0077b3;
}
.current-card .info header p {
    font-size: 17px;
    color: #7c7c7c;
}
.current-card .info .list ul {
    overflow: hidden;
}
.current-card .info .list ul li {
    width: 33.333333%;
    float: left;
    padding: 0 40px 0 0;
}
.current-card .info .list ul li p {
    padding: 0 0 10px;
    font-size: 15px;
    color: #7c7c7c;
}
.current-card .info .list ul li strong {
    font-size: 17px;
    color: #404040;
}
.current-card::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}
.text-container .text {
    font-size: 16px;
    line-height: 1.75;
    color: #404040;
}
.text-container .text p {
    padding: 0 0 25px;
}

.text-container .text::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.card-list {
    padding: 60px 0 0;
    display: flex;
}
ul{
    padding: 0;
}
.card-list article:nth-child(3n-2) {
    margin: 0;
}

.card-list article .image {
    padding: 0 0 30px;
}
.card-list article .image a {
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
.card-list article .image a img {
    display: block;
    width: 100%;
}
.card-list article h3 {
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #0077b3;
}
.card-list article p {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7c7c7c;
}
.card-list::after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
}
.card-list article {
    width: 30%;
    height: 270px;

    margin: 0 0 0 30px;
}
#footer {
  width: 100%;
  bottom: 0 !important;
  position: absolute !important;
  height: 35px;
}
.footer-container {
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.footer-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  .netty{
    img{
      width:95px;
      height:50px;
      border:0;
    }
  }
  div {
    margin: 0 10px;
    font-size: 14px;
    a {
      color: rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }
  }
  .jis {
    a {
      span {
        display: inline-block;
        width: 18px;
        height: 17px;
        margin: 0 0 0 10px;
        vertical-align: middle;
        background: url("../assets/images/jis.svg") no-repeat 50%;
        background-size: contain;
      }
    }
  }
}
.footer-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  span {
    font-size: 14px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    vertical-align: top;
  }
  a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    text-align: center;
    position: relative;
    font-size: 0;
    line-height: 24px;
    vertical-align: top;
  }
}
.copyright {
  p {
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
  }
}
.span-aside {
  color: #fff !important;
}
.toggler-bg {
  background: #fff !important;
}
.aside-em {
  background: #159ee3 !important;
}
.phone-a {
  color: #fff !important;
}
.phone-icon {
  &::before {
    background: url("../assets/images/phone_icon.svg") no-repeat 0 0 !important;
  }
}
.smart-icons {
  position: fixed;
  right: 25px;
  bottom: 60px;
  &:hover {
    ul {
      opacity: 1;
      transform: translate(0, 0);
      visibility: visible;
      li {
        padding: 0 0 15px;
      }
    }
  }
  .call {
    display: block;
    width: 60px;
    height: 60px;
    background: #159ee3 url("../assets/images/ic.png") no-repeat 50%;
    background-size: 50%;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: all 0.3s linear;
    &:hover {
      transform: rotate(360deg);
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    }
    &::after {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.4);
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
    &::before {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      content: "";
      border-radius: 50%;
      display: block;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(1.15);
    }
  }
  ul {
    width: 60px;
    position: absolute;
    left: 0;
    padding: 0;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 20px);
    transition: all 0.2s linear;
    li {
      padding: 0 0 5px;
      transition: all 0.2s linear;
      a {
        display: block;
        width: 60px;
        height: 60px;
        position: relative;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        &::before {
          content: "";
          display: block;
          width: 60px;
          height: 60px;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
          transform: scale(1);
          border-radius: 50%;
          transition: all 0.1s linear;
        }
        &::after {
          content: "";
          display: block;
          width: 60px;
          height: 60px;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0);
          transform: scale(1);
          transition: all 0.2s linear;
        }
      }
      .facebook {
        background: #3b5998 url("../assets/images/facebook_icon.png") no-repeat
          50%;
        background-size: 55%;
      }
      .whatsapp {
        background: #29b200 url("../assets/images/whatsapp_white_icon.png")
          no-repeat 50%;
        background-size: 55%;
      }
      .chat {
        background: #ee8208 url("../assets/images/chat_icon.svg") no-repeat 50%;
        background-size: 55%;
      }
    }
  }
}
.phone {
  a {
    &:hover {
      &:before {
        animation-name: ringAnime;
        animation-duration: 0.1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
}
