@import "reset";

@import "media-therapy-doctors";
@import "animation";
@import "footer";
@import "common";

.wrapper {
  min-height: 100%;
  position: relative;
  padding: 0px 0px 100px;
}

.main-circles {
  width: 330px;
  height: 120%;
  background: #f8fcfe;
  position: fixed;
  top: -10%;
  right: 0;
  z-index: -1;
  clip-path: ellipse(100% 50% at 100% 50%);
  animation-name: rightCircleEffect;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: alternate;

  transition: all 0.9s linear;
}

.main-circles > div {
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  right: -110px;

  clip-path: ellipse(100% 50% at 100% 50%);

  transition: all 0.9s linear;
}
.main-circles > div > div {
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: 0%;
  right: -220px;

  clip-path: ellipse(100% 50% at 100% 50%);

  transition: all 0.9s linear;
}

.content-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 40px;

  position: relative;
  h2 {
    padding: 0 0 60px;
    text-align: center;
    font-size: 36px;
    color: #159ee3;

    font-family: "Gilroy-bold";
    img {
      display: block;
      position: absolute;
      top: -75px;
      left: 47%;
    }
  }
}
.go-back {
  padding: 10px 0 0;
  position: absolute;
  top: 0;
  z-index: 2;
  a {
    padding: 0 0 0 25px;
    font-size: 17px;

    text-decoration: none;
    color: #0077b3;
    position: relative;

    transition: all 0.2s linear;
    &:hover {
      &::before {
        left: -5px;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../assets/images/arrow_back_blue.svg") no-repeat 0 50%;

      transition: all 0.2s linear;
    }
  }
}
.internal-nav {
  padding: 0 0 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    width: 25%;
    height: 58px;
    border: 1px solid #dcdcdc;

    line-height: 56px;

    display: inline-block;

    font-size: 18px;

    color: #7c7c7c;

    background: #fff;

    text-decoration: none;

    &:hover {
      background: #d6f1ff;
    }
  }
}
.internal-nav-active {
  border-color: #159ee3;
  color: #fff !important;
  background: #159ee3 !important;
}
.internal-nav a:first-child {
  border-left: 1px solid #dcdcdc;

  border-radius: 5px 0 0 5px;
}
.internal-nav a:last-child {
  border-radius: 0 5px 5px 0;
}
.doctors-container {
  width: 105%;
  margin: 0 0 0 -22px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.doctors-container .doctor {

  width: 17%;
  margin: 0 0 35px 22px;
  padding: 0 0 30px;
}

.doctors-container .doctor .image img {

  width: 100%;

  border-radius: 6px;
}

.doctors-container .doctor h4 {
  margin: 0;
  padding: 0 0 5px;
  font-size: 15px;

  margin-top: 6px;

  text-align: center;
  color: #159ee3;

  font-family: "Gilroy-regular";
}
.doctors-container .doctor p {
  text-align: center;
  color: #7c7c7c;
  font-size: 15px;
}

.span-aside {
  color: #fff !important;
}

.phone-a {
  color: #fff !important;
}
.phone-icon {
  &::before {
    background: url("../assets/images/phone_icon.svg") no-repeat 0 0 !important;
  }
}

.phone {
  a {
    &:hover {
      &:before {
        animation-name: ringAnime;
        animation-duration: 0.1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
}
